:root{
    --dark: rgb(0, 72, 6);
    --light: rgb(138, 216, 138);
    --hover-color: antiquewhite;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    /* border: 1px solid red; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    /* border: 1px solid red; */
  }

 header h1{
    font-size: 250%;
    background-color:var(--light) ;
    color: var(--dark);
    /* border: 1px solid red; */
} 

nav a:hover {
    color: var(--hover-color);
  }

nav a{
    color: var(--light);
    font-weight: bold;
    text-decoration: none;
}

li{
    list-style: none;
    border-bottom: 2px solid var(--light);
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a{
    color: antiquewhite;
    font-weight: bold;
    text-decoration: none;
}

main, footer{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

aside{
    border-right: 2px solid black;
    flex: 1 0 15%;
    display: flex;
    justify-content: end;
    padding: 1% 2%;
}

section{
    flex: 1 0 79%;
    padding: 1% 2%;
}

.small-pics{
    display: flex;
    flex-wrap: wrap;
}

.small-pics section{
    flex: 1 0 45%;
}

.small-pics img{
    width:100%;
    border-radius: 10px;
}

#hero{
    background: url(https://placehold.co/1200x300);
    background-size: contain;
    background-repeat: no-repeat;
    height: 46.5vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 3%;
}

#project img{
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 700px){
    header {
        flex-direction: column;
      }

}